.signup_wrapper {
    background-color: #000000;
    height          : 100%;
}

.signup_wrapper>.container {
    width: 60%;
}

@media only screen and (max-width: 600px) {
    .signup_wrapper>.container {
        width: 80%;
    }
}

.signup_heading {
    color     : #ef4f9f;
    text-align: left;
}

.verification_notice {
    background-color: #ffffff;
    border-radius   : 10px;
    color           : #000000;
    font-weight     : bold;
    margin-top      : 1rem;
    padding         : 10px;
}

label {
    color: #ffffff;
}

.editor {
    background-color: #ffffff;
}

.register_button,
.register_button:hover,
.register_button:active {
    background-color: #ef4f9f !important;
    border          : #ef4f9f !important;


}

.register_button:focus {
    background-color: #ef4f9f !important;
    border          : #ef4f9f !important;
    box-shadow      : 0 0 0 0.25rem rgb(239 79 159 / 50%) !important
}